body {
  background: #0b0b0b;
  color: white;
  font-family: Arial;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.game-page {
  margin: 0;
  padding: 0;
}

#loader {
  text-align: center;
  margin-top: 40vh;
}

iframe {
  display: none;
  width: 100vw;
  height: 100vh;
  border: none;
}

